{% extends "base.html" %}

{% block content %}
<p></p>
<h1>
    <i style="color:red;" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    {{ _("404 Page not found") }}
</h1>


{% endblock %}
