<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CommonsCloud</title>
    <meta name="viewport" content="width=device-width; initial-scale=1;">
    <link href="/static/css/skeleton.css" rel="stylesheet" media="screen">
    <link href="/static/css/style.css" rel="stylesheet" media="screen">
    <link href="/static/css/menu.css" rel="stylesheet" media="screen">
    <!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
  </head>
  <body>

<div id="header-bar">
    <nav class="container">
      <div id="logo"><a href="/" ><img src="/static/images/logo.svg" alt="CommonsCloud" /></a></div>
      <label for="drop" class="toggle">Menu</label>
      <input type="checkbox" id="drop" style="display:none;"/>
        <ul class="menu">
            {% for item in menu %}
                <li><a href="{{ item[1] }}">{{ item[0] }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>



<div class="container" style="margin-top:30px;">
    
        {% if config['SENDMAIL'] == False %}
            <span style="color:red">{{ config['LDAP_SERVER'] }}</span>
        {% endif %}
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages and request.path != '/login' %}
                {% for category, message in messages %}
                  <div class="{{ category }}">{{ message | safe }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <!-- errors -->
        {% if error %}
            {% if error is iterable and error is not string %}
                <div class="error">{{ error | safe }}</div>
            {% else %}
                <div class="error">{{ error | safe }}</div>
            {% endif %}
        {% endif %}
        <br />
        
      
      <!-- child template -->
      {% block content %}{% endblock %}

    </div>
    <p></p>


  </body>
</html>
