{% extends "userdata.html" %}

{% block form %}
<div style="font-size: 1.2em">{{ _("Delete entry") }}</div>
<p></p>

<i style="color:red;" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
{{ _("This can't be undone") }}.

<form method=post>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type=submit value="Delete user">
    <a href="/add-user/{{ user.id }}" class="button">{{ _("Cancel") }}</a>
</form>

{% endblock %}
