{% extends "base.html" %}
{% block content %}

<p></p>
<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input class="btn btn-default" type="submit" value="{{ _('Delete') }}">
    <a href="/add-user/{{ user.id }}" class="button">{{ _("Cancel") }}</a>
</form>

{% endblock %}
