{% extends "base.html" %}
{% block content %}


    <div style="font-size: 1.5em">
        {% if groupInfo['isService'] %}
            {{ _("Service") }}:
        {% elif groupInfo['isCollective'] %}
            {{ _("Collective") }}:
        {% else %}
            {% if groupInfo['isCollectiveSubGroup'] %}
            <a href="/manage-groups/{{ groupInfo['parentDN'] }}" title="{{ _('Return') }}"><i class="fa fa-backward" aria-hidden="true"></i></a>
            &nbsp;
            {% endif %}
            {{ _("Group") }}:
        {% endif %}
        
        {% if groupInfo['isManagerGroup'] %}
            {% set managed_group_link = "<a href='/group/%s'>%s</a>" % (groupInfo['managedGroup']['dn'], groupInfo['managedGroup']['rdn']) %}
            {% if groupInfo['managesCollective'] %}
                {{ _("Managers of the collective %s" % managed_group_link) }}
            {% elif groupInfo['managesService'] %}
                {{ _("Managers of the service %s" % managed_group_link) }}
            {% endif %}
        {% endif %}

        {% if not groupInfo['isManagerGroup'] %}
            {{ attribs['cn'][0] }}
        {% endif %}
        {% if not groupInfo['isManagerGroup'] and canManage %}
            <a href="/edit-group/{{ dn }}" title="{{ _('Edit') }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        {% endif %}
        {% if groupInfo['hasManagingGroup'] %}
            <a href="/group/{{ groupInfo['managingGroup']['dn'] }}" title="{{ _('Managers') }}"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
        {% endif %}
    </div>
    {% if attribs['businessCategory'] %}
        <a href="{{ attribs['businessCategory'][0] }}">{{ attribs['businessCategory'][0] }}</a>
        <br />
    {% endif %}
    {% if not groupInfo['isManagerGroup'] %}
        {{ attribs['description'][0] }}
        <br />
    {% endif %}

<br />
    {% if groupInfo['isService'] %}
        <p>{{ _("service_management_explained") }}</p>
    {% endif %}
    {% if groupInfo['managesService'] %}
        <p>{{ _("service_manager_group_explained") }}</p>
    {% endif %}  
    {% if groupInfo['isCollective'] %}
        <p>{{ _("collective_management_explained") }}</p>
    {% endif %}
    {% if groupInfo['managesCollective'] %}
        <p>{{ _("collective_manager_group_explained") }}</p>
    {% endif %}    


<p></p>
{% if canManage or session['admin'] %}
    {% block form %}{% endblock %}
{% endif %}

<div style="font-size: 1.25em">{{ _("Members") }}: {{ total_members }}</div>

{% for member_dn, name in members.iteritems() %}
    <a href="/profile/{{ member_dn }}">{{ name }}</a>
    {% if member_dn != name %}
    <span class="hint">{{ member_dn }}</span>
    {% endif %}
    {% if canManage %}
        <a href="/remove-user/{{ dn }}/{{ member_dn }}" title="{{ _('Remove user from group') }}">
            <i class="fa fa-minus-square-o" aria-hidden="true"></i>
        </a>
    {% endif %}
    <br />
{% endfor %}

{% if canManage %}
    <br />
    <a class="button" href="/send-group-email/{{ dn }}">{{ _("Send email to members") }}</a>
{% endif %}

{% endblock %}
