{% extends "base.html" %}
{% block content %}

<h2>{{ _("Welcome") }}</h2>

{{ _("index_page") }}

<h2>{{ _("CommonsCloud") }}</h2>

{{ _("commonscloud_page") }}

<h2>{{ _("About us") }}</h2>

{{ _("about_page") }}


{% endblock %}
