{% extends "base.html" %}
{% block content %}

<style>
.pagination > ul > li {
    background-color: #C4C4C4;
    display: inline-block;
    width: 1.5em;
    text-align: center;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    margin: 0 0.75em 0 0;
    *display:inline;
    /* this fix is needed for IE7- */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
}
.pagination > ul > li > a {
    color: black;
    text-decoration: none;
}
.indexer {
    margin-right: 1em;
    cursor:pointer;
}
</style>
<script>
function setGetParameter(paramName, paramValue)
{
    var url = window.location.href;
    var hash = location.hash;
    url = url.replace(hash, '');
    if (url.indexOf(paramName + "=") >= 0)
    {
        var prefix = url.substring(0, url.indexOf(paramName));
        var suffix = url.substring(url.indexOf(paramName));
        suffix = suffix.substring(suffix.indexOf("=") + 1);
        suffix = (suffix.indexOf("&") >= 0) ? suffix.substring(suffix.indexOf("&")) : "";
        url = prefix + paramName + "=" + paramValue + suffix;
    }
    else
    {
    if (url.indexOf("?") < 0)
        url += "?" + paramName + "=" + paramValue;
    else
        url += "&" + paramName + "=" + paramValue;
    }
    window.location.href = url + hash;
}
</script>

<div style="font-size: 1.5em">{{ _("Users you manage") }}</div>

<span class="indexer" onclick="setGetParameter('state','unattended')">
    <i class="fa fa-certificate" style="color:#C4C4C4" aria-hidden="true"></i>
    {{ _("Unattended") }}
</span>
<span class="indexer" onclick="setGetParameter('state','exported')">
    <i class="fa fa-certificate" style="color:#FF8000" aria-hidden="true"></i>
    {{ _("Created") }}
</span>
<span class="indexer" onclick="setGetParameter('state','email-sent')">
    <i class="fa fa-certificate" style="color:#E066FF" aria-hidden="true"></i>
    {{ _("Sent activation email") }}
</span>
<span class="indexer" onclick="setGetParameter('state','active')">
    <i class="fa fa-certificate" style="color:#00C957" aria-hidden="true"></i>
    {{ _("Active") }}
</span>

<p></p>

<form style="margin:0; padding:0" method=get>
        <input type="text" name="word" value="" />
        <input type=submit value={{ _("Search") }}>
</form>

{{ pagination.links }}
{{ pagination.info }}
<table>
  <thead>
    <tr>
      <th>uid</th>
      <th>{{ _("Name") }}</th>
      <th>{{ _("Surname") }}</th>
      <th>{{ _("Email") }}</th>
      <th>{{ _("Collective") }}</th>
      <th>{{ _("Petition") }}</th>
      <th>{{ _("State") }}</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users.items %}
      <tr>
        <td>{{ user.uid }}</td>  
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>
            {% if user.validated_mail == True %}
                <span style="color:#00C957;">{{ user.mail }}</span>
            {% else %}
                <span style="color:red;">{{ user.mail }}</span>
            {% endif %}
        </td>
        <td>
            {% if user.does_primary_collective_exist %}
                {% set link = "/group/cn=%s,%s" % (user.primary_collective, config["COLLECTIVE_OU_DN"]) %}
                <a href="{{ link }}" style="color:#00C957">{{ user.primary_collective }}</a>
            {% else %}
                {{ user.primary_collective }}
            {% endif %}
        </td>
        <td>{{ user.created }}</td>
        <td>
        {% if user.exported %}
            <a href="/manage-user/{{ user.dn }}">
            {% if user.activated %}
                <i class="fa fa-certificate" style="color:#00C957" aria-hidden="true"></i>
            {% elif user.activation_email_sent %}
                <i class="fa fa-certificate" style="color:#E066FF" aria-hidden="true"></i>
            {% else %}
                <i class="fa fa-certificate" style="color:#FF8000" aria-hidden="true"></i>
            {% endif %}
            </a>
        {% else %}
            <a href="/add-user/{{ user.id }}">
                <i class="fa fa-certificate" style="color:#C4C4C4" aria-hidden="true"></i>
            </a>  
        {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{{ pagination.links }}


{% endblock %}
