{% extends "ldapattribs.html" %}
{% block form %}

{% if collectives %}
    <link rel="stylesheet" href="/static/css/jquery-ui.1.12.1.css">
    <script src="/static/lib/jquery-3.3.1.min.js"></script>
    <script src="/static/lib/jquery-ui.1.12.1.min.js"></script>

    <script>
      $( function() {
        var availableCollectives = {{ collectives|safe }};
        $( "#attrib_input" ).autocomplete({
          source: availableCollectives
        });
      } );
    </script>
{% endif %}

<hr />

<span class="attrib_name">{{ _("Edit") }} {{ attribName }}</span>
<br />

<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="attrib" value="{{ request.form.attrib }}">
    
    {% if request.form.attrib == "description" %}
        <textarea name="value" style="width:100%">{{ request.form.value[0] }}</textarea>
        <br />
    {% elif request.form.attrib == "preferredLanguage" %}
        <select name="value">
          {% for key, value in config['LANGUAGES'].iteritems() %}
            <option value="{{ key }}">{{ value.decode('utf-8') }}</option>
          {% endfor %} 
        </select>
        <br />
    {% elif request.form.attrib == "pager" %}
        <select name="value">
            <option value="250 MB">250 MB</option>
            <option value="1 GB">1 GB</option>
            <option value="2 GB">2 GB</option>
            <option value="5 GB">5 GB</option>
            <option value="10 GB">10 GB</option>
            <option value="15 GB">15 GB</option>
            <option value="25 GB">25 GB</option>
            <option value="30 GB">30 GB</option>
            <option value="50 GB">50 GB</option>
            <option value="55 GB">55 GB</option>
            <option value="65 GB">65 GB</option>
            <option value="75 GB">75 GB</option>
            <option value="100 GB">100 GB</option>
            <option value="200 GB">200 GB</option>
        </select>
    {% else %}
        <input id="attrib_input" type="text" name="value" value="{{ request.form.value[0] }}">
    {% endif %}
     
    <input class="btn btn-default" type="submit" value="{{ _('Save') }}">
    {% if dn == session['username'] %}
        <a href="/profile-attributes" class="button">{{ _("Cancel") }}</a>
    {% else %}
        <a href="/manage-user/{{ dn }}" class="button">{{ _("Cancel") }}</a>
    {% endif %}
</form>

{% endblock %}
