{% extends "base.html" %}
{% block content %}

<p style="font-size: 1.3em">{{ _("Hello") }} {{ user.name }},</p>

<p style="font-size: 1.3em">{{ _("The onboarding process for CommonsCloud goes as follows. The clock icon tells you where you are!") }}.</p>

<p>
    <ol style="font-size: 1.3em">
    <li>{{ _("We sent you the first of two emails. In this one we ask you to comfirm your email address") }}.
        {% if user.validated_mail %}
            <i class="fa fa-check-square" style="color:#00C957" aria-hidden="true"></i>
        {% else %}
            {{ _(" If you don't receive it, check your Spam folder!") }} <i class="fa fa-clock-o" style="color:#FF8000" aria-hidden="true"></i>
        {% endif %}
    </li>
    <li>{{ _("Your account is created") }}.
        {% if user.exported %}
            <i class="fa fa-check-square" style="color:#00C957" aria-hidden="true"></i>
        {% elif user.validated_mail %}
            {{ _("Thank you for confirming your email address. We'll send you another email to configure your password") }}.
            <i class="fa fa-clock-o" style="color:#FF8000" aria-hidden="true"></i>
        {% endif %}
    </li>
    <li>{{ _("You'll receive an e-mail to set your password") }}.
        {% if user.activated %}
            <i class="fa fa-check-square" style="color:#00C957" aria-hidden="true"></i>
	    <br />
	    <br />
            {{ _("You can now access your CommonsCloud tools") }}!
        {% endif %}
    </li>
    </ol>
</p>

<p style="font-size: 1.3em">
{% if user.activated %}
    <span style="font-size: 1.3em">{{ _("Welcome") }}!</span>
    <br />
    {{ _("Your username is") }}: <b>{{ user.uid }}</b>
    <br />
    <br />
    {% if urls %}
        <span style="font-size: 1.3em">{{ _("You may login here") }}:</span>
        <br />
        {% for url in urls %}
            <a href="{{ url }}">{{ url }}</a>
            <br />
        {% endfor %}
        <br />
    {% endif %}
    {{ _("You can manage your user profile here") }}
    <br />
    <a href="{{ config['THIS_URL'] }}/profile">{{ config['THIS_URL'] }}/profile</a>
{% else %}
    {{ _("Kind regards") }},
    <br />
    {{ _("The CommonsCloud Team") }}
{% endif %}
</p>

{% endblock %}
