{% extends "base.html" %}
{% block content %}

<div>
    <span style="font-size: 1.5em">
        {{ attribs.get_attr_values('displayName')[0] }}
        {% if can_manage %}
            <a href="/manage-user/{{ dn }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        {% endif %}
        {% if session['admin'] == True and session['username'] == dn %}
            <a href="/manage-collectives"><i class="fa fa-users" aria-hidden="true"></i></a>
        {% endif %}
        {% if session['username'] == dn %}
            <br />
            {{ _('Your username') }}: {{ uid }}
        {% endif %}
    </span>
    <br />
    <span class="hint">DN: {{ dn }}</span>
    <br />
    <span class="hint">{{ _("Collective") }}: {{ attribs.get_attr_values('o')[0] }}</span>
</div>
<br />
<div class="row">
    <div class="two columns">
        <img src="data:image/jpeg;base64,{{ attribs.get_attr_values('jpegPhoto')[0] }}" />
    </div>
    <div class="ten columns">
        {{ attribs.get_attr_values('description')[0] }}
        <br />
        <i class="fa fa-envelope" aria-hidden="true"></i> {{ attribs.get_attr_values('mail')[0] }}
        {% if session['username'] == dn %}
            <br />
            <br />
            <a href="/profile-attributes" class="button">{{ _("Edit your profile") }}</a>
            <a href="/change-password" class="button">{{ _("Change password") }}</a>
        {% endif %}
    </div>
</div>

<hr />

{% if session['username'] == dn %}
    <span style="font-size: 1.5em">
        {{ _("Looking for help?") }}
        <a href="https://agora.commonscloud.coop" target="_blank">
            {{ _("Visit our community support!") }}
            <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
    </span>
    <p></p>
{% endif %}

{% if websites %}
    <p>
    {% if session['username'] == dn %}
        <b>{{ _("Your websites") }}</b>
    {% else %}
        <b>{{ _("Websites you share with %s" % attribs.get_attr_values('displayName')[0] ) }}</b>
    {% endif %}
    {% for website in websites %}
        <br />
        <a href="{{ website }}">{{ website }}</a>
    {% endfor %}
    </p>
{% endif %}

{% if groups %}
    {% if session['username'] == dn %}
        <b>{{ _("Your groups") }}</b>
    {% else %}
        <b>{{ _("Groups you share with %s" % attribs.get_attr_values('displayName')[0] ) }}</b>
    {% endif %}
    {% for group_dn, value in groups.iteritems() %}
        <br />
        <a href="/group/{{ group_dn }}">{{ value.name }}</a>
        <br />
        {{ value.description }}
        <br />
    {% endfor %}    
{% endif %}

{% endblock %}
