{% extends "base.html" %}

{% block content %}


<div style="font-size: 1.5em">
{{ _("Remove \"%s\" from" % userName) }} "{{ groupInfo['groupName'] }}"
</div>

<p>
    <b>{{ _("User") }}</b> {{ userName }}: <span class="hint">{{ userDN }}</span>
    <br />
    {% if groupInfo['isService'] %}
        <b>{{ _("Service") }}</b> {{ groupInfo['groupName'] }}:  <span class="hint">{{ groupInfo['dn'] }}</span>
    {% elif groupInfo['isService'] %}
        <b>{{ _("Collective") }}</b> {{ groupInfo['groupName'] }}: <span class="hint">{{ groupInfo['dn'] }}</span>
    {% endif %}
</p>


<form method="post" style="margin-bottom:0">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input class="btn btn-default" type="submit" value="{{ _('Remove user') }}">
    <a class="button" href="/group/{{ groupInfo['dn'] }}">{{ _("Cancel") }}</a>
</form>


{% endblock %}
